@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

body {
  background-color: var(--background-color);
  /* transition: background-color 0.3s ease-in-out, color 0.6s ease-in-out; */
}

button {
  cursor: pointer;
}

ol {
  margin-left: 1rem;
}

:root {
  --black: black;
  --white: rgb(255, 255, 255);
  --off-white: rgb(218, 218, 218);
  --navy-blue: rgb(25, 85, 134);
  --full-blue: rgba(127, 223, 252);
  --medium-blue: rgba(127, 223, 252, .5);
  --light-blue: rgba(127, 223, 252, .1);
  --full-purple: rgb(180, 90, 253);
  --medium-purple: rgb(202, 142, 252);
  --light-purple: rgb(224, 187, 255);
  --dark-purple: rgb(65, 0, 117);
  --black-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  --light-shadow: 0 4px 8px 4px rgba(160, 160, 160, 0.267);
}

body.light {
  --background-color: var(--white);
  --title-text: var(--black);
  --dark-button-text: var(--white);
  --light-button-color: var(--white);
  --grid-button-text: var(--navy-blue);
  --index-text: var(--navy-blue);
  --description-text: var(--black);
  --row-one-color: var(--light-blue);
  --row-two-color: var(--medium-blue);
  --row-three-color: var(--full-blue);
  --grid-button-border-color: var(--navy-blue);
  --box-shadow: var(--black-shadow);
}

body.dark {
  --background-color: var(--navy-blue);
  --title-text: var(--off-white);
  --dark-button-text: var(--off-white);
  --light-button-color: var(--off-white);
  --grid-button-text: var(--dark-purple);
  --index-text: var(--off-white);
  --description-text: var(--off-white);
  --row-one-color: var(--light-purple);
  --row-two-color: var(--medium-purple);
  --row-three-color: var(--full-purple);
  --grid-button-border-color: var(--dark-purple);
  --button-border-color: var(--off-white);
  --light-button-color: var(--off-white);
  --box-shadow: var(--light-shadow);
}

.App {
  font-family: 'Exo 2', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
}

/* headers / titles */
.title {
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  margin-top: 1rem;
  color: var(--title-text);
}

.subtitle {
  font-family: 'Hachi Maru Pop', cursive;
  font-size: .75rem;
  margin-top: -2.5rem;
  color: var(--title-text);
}

.activity-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.65rem;
  margin-top: 3rem;
  color: var(--title-text);
}

.index-title {
  margin-top: 2rem;
  font-size: 2rem;
  margin-bottom: -.5rem;
  color: var(--title-text);
}

.index-category-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.25rem;
  color: var(--title-text);
}

/* category button grid */
.grid-wrapper {
  display: flex;
  justify-content: center;
}

.category-grid {
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
}

.category-grid-instructions {
  margin-top: 3rem;
  color: var(--title-text);
}

/* buttons */
.random-activity-button {
  font-family: 'Exo 2', sans-serif;
  background-color: rgb(25, 85, 134);
  color: var(--dark-button-text);
  padding: .50rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-color: var(--button-border-color);
}

.take-me-there {
  font-family: 'Exo 2', sans-serif;
  background-color: rgb(25, 85, 134);
  color: var(--dark-button-text);
  padding: .5rem;
  cursor: pointer;
  justify-self: center;
  border-color: var(--button-border-color);
}

.clear-button {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  background-color: var(--light-button-color);
  color: rgb(25, 85, 134);
  padding: .5rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  border-color: var(--button-border-color);
}

.index-button {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  background-color: var(--light-button-color);
  color: rgb(25, 85, 134);
  padding: .5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-color: var(--button-border-color);
}

.home-button {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  background-color: var(--light-button-color);
  color: rgb(25, 85, 134);
  padding: .50rem;
  margin-top: 2rem;
  margin-bottom: .5rem;
  border-color: var(--button-border-color);
}

.toggle-theme-button {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  font-size: .75rem;
  background-color: white;
  color: rgb(25, 85, 134);
  padding: .5rem;
  margin-bottom: -1rem;
  border-color: var(--button-border-color);
  /* align-self: flex-end; */
}

/* card display */
.card-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: -1rem;
}

.card {
  box-shadow: var(--box-shadow);
  width: 100%;
  border-radius: 5px;
}

.container {
  padding: 15px;
}

.description {
  color: var(--description-text);
}

/* image */
.activity-image {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

/* index table of contents */
.index-category-wrapper {
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  margin-top: -1rem;
  width: 90%;
}

.index-list-items {
  font-weight: bold;
  color:  var(--index-text);
  cursor: pointer;
}