@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

body {
  background-color: var(--background-color);
  transition: var(--theme-transition);
}

button {
  cursor: pointer;
}

ol {
  margin-left: 1rem;
}

:root {
  /* neutrals */
  --black: black;
  --white: rgb(255, 255, 255);
  --off-white: rgb(240, 240, 240);
  --gray: rgb(180, 180, 180);

  /* accents */
  --pale-yellow: rgb(224, 224, 84);
  
  /* blues */
  --navy-blue: rgb(25, 85, 134);
  --slate-blue: rgb(38, 57, 73);
  --full-blue: rgba(127, 223, 252);
  --medium-blue: rgba(127, 223, 252, .5);
  --light-blue: rgba(127, 223, 252, .1);

  /* purples */
  --full-purple: rgb(199, 130, 255);
  --medium-purple: rgb(210, 165, 255);
  --light-purple: rgb(229, 205, 255);
  --dark-purple: rgb(65, 0, 117);

  /* shadows */
  --black-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  --light-shadow: 0 1px 2px 2px rgba(112, 112, 112, 0.5);

   /* transition */
   --theme-transition: background-color 0.3s ease-in-out, color 0.6s ease-in-out;
}

/* light theme */
body.light {
  /* body */
  --background-color: var(--white);

  /* titles, headers and text */
  --title-text: var(--black);
  --index-text: var(--navy-blue);
  --description-text: var(--black);
  --accent-text: var(--black);

  /* grid buttons and text */
  --grid-btn-text: var(--navy-blue);
  --row-one-color: var(--light-blue);
  --row-two-color: var(--medium-blue);
  --row-three-color: var(--full-blue);
  --grid-btn-border-color: var(--navy-blue);

  /* navigation buttons */
  --show-random-btn-text: var(--white);
  --show-random-btn-color: var(--navy-blue);
  --index-btn-text: var(--navy-blue);
  --index-btn-color: var(--white);
  --take-me-there-btn-text: var(--white);
  --take-me-there-btn-color: var(--navy-blue);
  --clear-btn-text: var(--navy-blue);
  --clear-btn-color: var(--white);
  --home-btn-text: var(--navy-blue);
  --home-btn-color: var(--white);
  --btn-border-color: var(--navy-blue);
 
  /* card */
  --box-shadow: var(--black-shadow);
}

/* dark theme */
body.dark {
  /* body */
  --background-color: var(--slate-blue);

  /* titles, headers and text */
  --title-text: var(--off-white);
  --index-text: var(--off-white);
  --description-text: var(--off-white);
  --accent-text: var(--pale-yellow);

  /* grid buttons and text */
  --grid-btn-text: var(--dark-purple);
  --row-one-color: var(--light-purple);
  --row-two-color: var(--medium-purple);
  --row-three-color: var(--full-purple);
  --grid-btn-border-color: var(--dark-purple);

  /* navigtation buttons */
  --show-random-btn-text: var(--off-white);
  --show-random-btn-color: var(--slate-blue);
  --index-btn-text: var(--off-white);
  --index-btn-color: var(--slate-blue);
  --take-me-there-btn-text: var(--off-white);
  --take-me-there-btn-color: var(--slate-blue);
  --clear-btn-text: var(--off-white);
  --clear-btn-color: var(--slate-blue);
  --home-btn-text: var(--off-white);
  --home-btn-color: var(--slate-blue);
  --btn-border-color: var(--gray);

  /* card */
  --box-shadow: var(--light-shadow);
}

.App {
  font-family: 'Exo 2', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  transition: var(--theme-transition);
}

/* headers / titles */
.title {
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  margin-top: .25rem;
  color: var(--accent-text);
}

.subtitle {
  font-family: 'Hachi Maru Pop', cursive;
  font-size: .75rem;
  margin-top: -2.5rem;
  color: var(--title-text);
}

.activity-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.65rem;
  margin-top: 2rem;
  color: var(--accent-text);
}

.index-title {
  margin-top: 2rem;
  font-size: 2rem;
  margin-bottom: -.5rem;
  color: var(--title-text);
}

.index-category-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  color: var(--accent-text);
  margin-top: 2rem;
}

/* category button grid */
.grid-wrapper {
  display: flex;
  justify-content: center;
}

.category-grid {
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
}

.category-grid-instructions {
  margin-top: 2rem;
  color: var(--accent-text);
}

/* buttons */
.random-activity-btn {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  background-color: var(--show-random-btn-color);
  color: var(--show-random-btn-text);
  padding: .50rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-color: var(--btn-border-color);
  transition: var(--theme-transition);
}

.take-me-there {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  background-color: var(--take-me-there-btn-color);
  color: var(--take-me-there-btn-text);
  padding: .5rem;
  cursor: pointer;
  justify-self: center;
  border-color: var(--btn-border-color);
  transition: var(--theme-transition);
}

.go-back-btn {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  background-color: var(--clear-btn-color);
  color: var(--clear-btn-text);
  padding: .5rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  border-color: var(--btn-border-color);
  transition: var(--theme-transition);
}

.index-btn {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  background-color: var(--index-btn-color);
  color: var(--index-btn-text);
  padding: .5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-color: var(--btn-border-color);
  transition: background-color 0.3s ease-in-out, color 0.6s ease-in-out;
  transition: var(--theme-transition);
}

.home-btn {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  background-color: var(--home-btn-color);
  color: var(--home-btn-text);
  padding: .50rem;
  margin-top: 2rem;
  margin-bottom: -.5rem;
  border-color: var(--btn-border-color);
  transition: var(--theme-transition);
}

.toggle-theme-button {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  font-size: .75rem;
  background-color: white;
  color: rgb(25, 85, 134);
  padding: .5rem;
  margin-bottom: -1rem;
  border-color: var(--btn-border-color);
  transition: var(--theme-transition);
}

/* card display */
.card-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: -1rem;
}

.card {
  box-shadow: var(--box-shadow);
  width: 100%;
  border-radius: 5px;
}

.container {
  padding: 15px;
}

.description {
  color: var(--description-text);
}

/* image */
.activity-image {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

/* index table of contents */
.index-category-wrapper {
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  margin-top: -1rem;
  width: 90%;
}

.index-list-items {
  font-weight: bold;
  color:  var(--index-text);
  cursor: pointer;
}