/* 3x3 category button grid */
.light-button {
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    background-color: var(--row-one-color);
    color: var(--button-text);
    flex: 0 0 32%;
    height: 50px;
    margin-bottom: 5px;
    border-color: var(--grid-button-border-color);
  }
  
  .medium-button {
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    background-color: var(--row-two-color);
    color: var(--button-text);
    flex: 0 0 32%;
    height: 50px;
    margin-bottom: 5px;
    border-color: var(--grid-button-border-color);
  }
  
  .dark-button {
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    background-color: var(--row-three-color);
    color: var(--button-text);
    flex: 0 0 32%;
    height: 50px;
    margin-bottom: 5px;
    border-color: var(--grid-button-border-color);
  }