@media only screen and (min-width: 900px) {
    .title {
      font-size: 4rem;
    }

    .subtitle {
      font-size: 1rem;
      margin-top: -3rem;
    }

    .card {
      width: 35%;
    }

    .category-grid {
      width: 25%;
    }

    .category-instructions {
      font-size: 1.25rem;
    }

    .category-or {
      font-size: 1.25rem;
    }
}