@media only screen and (min-width: 600px) {
  .index-category-wrapper {
    width: 400px;
  }

  .card {
    width: 75%;
  }

}

@media only screen and (min-width: 900px) {
  .card {
    width: 40%;
  }
}