.toggle input[type=checkbox] {
	display: none;
}

.toggle label {
	background-color: var(--light-blue);
	border: 2px solid var(--navy-blue);
	border-radius: 1rem;
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: all ease-in-out 0.3s;
	width: 2rem;
	height: 1rem;
}

.toggle label::after {
	background-color: var(--navy-blue);
	border-radius: 50%;
	content: ' ';
	cursor: pointer;
	display: inline-block;
	position: absolute;
	left: 2px;
	top: 2px;
	transition: all ease-in-out 0.3s;
	width: .8rem;
	height: .8rem;
}

.toggle input[type=checkbox]:checked ~ label {
	background-color:var(--light-purple);
	border-color: var(--full-purple);
}

.toggle input[type=checkbox]:checked ~ label::after {
	background-color: var(--full-purple);
	transform: translateX(1rem);
}