@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

.title {
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  margin-top: 1rem;
}

.subtitle {
  font-family: 'Hachi Maru Pop', cursive;
  font-size: .75rem;
  margin-top: -2rem;
}

.App {
  text-align: center;
}