@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

button {
  cursor: pointer;
}

.App {
  text-align: center;
  font-family: 'Exo 2', sans-serif;
}

/* headers */
.title {
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  margin-top: 1rem;
}

.subtitle {
  font-family: 'Hachi Maru Pop', cursive;
  font-size: .75rem;
  margin-top: -2rem;
}

.activity-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
}

/* category button grid */
.grid-wrapper {
  display: flex;
  justify-content: center;
}

.category-grid {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
}

/* buttons */
.random-activity {
  font-family: 'Exo 2', sans-serif;
  background-color: rgb(25, 85, 134);
  color: white;
  padding: .50rem;
}

.couples-button {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  /* background-color: #df007a; */
  background-color: #1d68fb;
  background-image: linear-gradient(345deg, #1d68fb 0%, #8f1ac5 100%);
  color: white;
  flex: 0 0 32%;
  height: 50px;
  margin-bottom: 5px;
}

.crafts-button {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  /* background-color: #B10DC9; */
  /* background-image: linear-gradient( 135deg, #FF6FD8 10%, #3813C2 100%); */
  background-color: #1d68fb;
  background-image: linear-gradient(0deg, #1d68fb 0%, #8f1ac5 110%);
  color: white;
  flex: 0 0 32%;
  height: 50px;
  margin-bottom: 5px;
}

.family-button {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  /* background-color: #B721FF; */
  background-color: #1d68fb;
  background-image: linear-gradient(15deg, #1d68fb 0%, #8f1ac5 100%);
  color: white;
  flex: 0 0 32%;
  height: 50px;
  margin-bottom: 5px;
}

.fitness-button {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  /* background-color: #FF4136; */
  /* background-image: linear-gradient( 135deg, #97ABFF 10%, #123597 100%); */
  background-color: #1d68fb;
  background-image: linear-gradient(270deg, #1d68fb 0%, #8f1ac5 120%);
  color: white;
  flex: 0 0 32%;
  height: 50px;
  margin-bottom: 5px;
}

.food-button {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  /* background-color: #2ECC40; */
  /* background-image: linear-gradient( 135deg, #70F570 10%, #49C628 100%); */
  background-color: #1D68FB;
  color: white;
  flex: 0 0 32%;
  height: 50px;
  margin-bottom: 5px;
}

.inside-button {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  /* background-color: #f57c14; */
  /* background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%); */
  background-color: #1d68fb;
  background-image: linear-gradient(90deg, #1d68fb 0%, #8f1ac5 120%);
  color: white;
  flex: 0 0 32%;
  height: 50px;
  margin-bottom: 5px;
}

.outside-button {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  /* background-color: #FF4136; */
  background-color: #1d68fb;
  background-image: linear-gradient(195deg, #1d68fb 0%, #8f1ac5 100%);
  color: white;
  flex: 0 0 32%;
  height: 50px;
  margin-bottom: 5px;
}

.projects-button {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  /* background-color: #85144b; */
  /* background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%); */
  background-color: #1d68fb;
  background-image: linear-gradient(180deg, #1d68fb 0%, #8f1ac5 110%);
  color: white;
  flex: 0 0 32%;
  height: 50px;
  margin-bottom: 5px;
}

.solo-button {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  /* background-color: #ac0000; */
  background-color: #1d68fb;
  background-image: linear-gradient(165deg, #1d68fb 0%, #8f1ac5 100%);
  color: white;
  flex: 0 0 32%;
  height: 50px;
  margin-bottom: 5px;
}

.take-me-there {
  font-family: 'Exo 2', sans-serif;
  background-color: rgb(25, 85, 134);
  color: white;
  padding: .5rem;
  cursor: pointer;
}

/* card display */
.card-wrapper {
  display: flex;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 80%;
  border-radius: 5px;
}

.container {
  padding: 15px;
}

/* image */
.activity-image {
  width: 100%;
  border-radius: 5px 5px 0 0;
}