@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');


.App {
  text-align: center;
  font-family: 'Exo 2', sans-serif;
}

.title {
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  margin-top: 1rem;
}

.subtitle {
  font-family: 'Hachi Maru Pop', cursive;
  font-size: .75rem;
  margin-top: -2rem;
}

/* buttons */
.random-activity {
  font-family: 'Exo 2', sans-serif;
  background-color: rgb(0, 201, 0);
  color: white;
  padding: .25rem;
}

.take-me-there {
  font-family: 'Exo 2', sans-serif;
  background-color: #f57c14; /* nickelodeon orange */
  color: white;
  padding: .25rem;
}

/* card display */
.card-wrapper {
  display: flex;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 80%;
  border-radius: 5px;
}

.container {
  padding: 15px;
}

/* image */
.activity-image {
  width: 100%;
  border-radius: 5px 5px 0 0;
}